@{
    ViewData["Title"] = "Home Page";
}
<br />
<p>
    <a href="https://localhost:44334/TblKundelisteMedForskjelligeNummers">Kundelisten</a>
</p>
<p>
    <a href="https://localhost:44334/TblMaterialMasters">Materiallisten</a>
</p>

<p>
    <a href="https://localhost:44334/TblKvotedefinisjoners">Kvotedefinisjoner</a>
</p>