@{
    ViewData["Title"] = "Home Page";
}
<br />
<p>
    <a href="/kvotesystemet/TblKundelisteMedForskjelligeNummers">Kundelisten</a>
</p>
<p>
    <a href="/kvotesystemet/TblMaterialMasters">Materiallisten</a>
</p>

<p>
    <a href="/kvotesystemet/TblKvotedefinisjoners">Kvotedefinisjoner</a>
</p>

<p>
    <a href="/kvotesystemet/TblKvotefilerFraZalaris/">Salg</a>
</p>

